/* Reset & Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  // USE GALENIC SYSTEM COLORS & TYPOGRAPHY
  --primary-accent: 0, 120, 289; // blue
  --secondary-accent: 139, 198, 61; // bright green
  --foreground-color: 62, 62, 62; // dark grey
  --background-color: 255, 255, 255; // white
  --border-color: 224, 224, 224; // light grey
  

  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;

  background-color: rgb(var(--background-color));
  color: rgb(var(--foreground-color));

  display: flex;
  min-height: 100vh;

  padding: 0;
  margin: 0;
  position: relative;
}