body {
  --primary-accent: 255, 238, 0; // bright yellow
  --foreground-color: 160, 200, 255; // light blue
  --background-color: 40, 44, 52; // dark blue
  --secondary-accent: 20, 22, 26; // darker blue

  font-family: 'Arial', sans-serif;

  background-color: rgb(var(--background-color));
  color: rgb(var(--foreground-color));

  display: flex;
  flex-direction: column;
  height: 100vh;

  padding: 0;
  margin: 0;
  position: relative;
}