header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 12px;

  .logo {
    color: rgb(var(--primary-accent));
    margin-left: 20px;
    font-weight: bold;
  }
}