<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/HEAD', { TITLE: 'Dugong v3' }) %>

  <!-- import htmx for this page -->
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <!-- import Alpine for this page -->
  <script src="https://unpkg.com/alpinejs" defer></script>
  <!-- script used specifically by this page -->
  <script src="assets/index.js" defer></script>
</head>

<body class="index-page">
  <%- include('../components/molecules/Header') %>
  
  <main>
    Hello, Dugong v3!
  </main>

  <%- include('../components/molecules/Footer') %>
</body>
</html>