<!DOCTYPE html>
<html lang="en">
  <%- include('../components/HEAD', { TITLE: 'Dugong v3 - About' }) %>
<body>
  <%- include('../components/molecules/Header') %>
  <main>
    <h1>About Dugong</h1>
    <p>Dugong is a simple Node.js web application framework that uses EJS as its templating engine.</p>
  </main>
  <%- include('../components/molecules/Footer') %>
</body>
</html>