<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../components/_html/HEAD', { TITLE: 'Galenic Varuna' }) %>
  
  <script src="https://unpkg.com/htmx.org@2.0.4"></script>
  <script src="https://unpkg.com/alpinejs" defer></script>
</head>

<body class="index-page">
  <!-- Main Content -->
  <main>
    <!-- Page Content -->
    <div>
      Welcome to Galenic Varuna.
    </div>
    <!-- End of Page Content -->
  </main>
</body>
</html>