<header>
  <div class="info-container">
    <span>Back-office, ver 1.0.0</span>
  </div>
  <div class="user-menu">
    <div class="user-avatar">
      <img src="./assets/ava.png" alt="User" width="32" height="32">
    </div>
  </div>
</header>